ColumnLimit: 80

UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: Inner

BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: true
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  AfterControlStatement: true
  AfterFunction: true
  AfterUnion: true
  BeforeElse: true
  BeforeWhile: true
  BeforeCatch: true


AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
AlignConsecutiveAssignments: false
AlignTrailingComments: true

SpaceAfterCStyleCast: true
CommentPragmas: '^ NO-FORMAT:'

BinPackArguments: false
BinPackParameters: false

IncludeBlocks: Regroup

IndentRequires: false