AlwaysBreakTemplateDeclarations: Yes

AllowShortFunctionsOnASingleLine: InlineOnly

AllowAllParametersOfDeclarationOnNextLine: false

BasedOnStyle: WebKit
Standard: c++20
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlinesLeft: false
AlwaysBreakAfterDefinitionReturnType: None
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 0
IndentCaseLabels: false
SortIncludes: true
AlignTrailingComments: true

SpacesInAngles: true

BinPackParameters: false
BinPackArguments: false

IncludeBlocks: Regroup
IndentRequires: false

UseTab: Never

FixNamespaceComments: true
