[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/nanobench"]
	path = external/nanobench
	url = https://github.com/martinus/nanobench
